.player {
	bottom: 10%;
	left: 50%;
	padding: 6px;
	position: absolute;
	transform: translateX(-50%);
}

.player_buttons {
	padding-bottom: 20px;
	text-align: center;
}

%button {
	background-color: transparent;
	border: 1px solid $spectrum-color-player-default;
	border-radius: 50%;
	cursor: pointer;
	font-size: 0;
	height: 50px;
	margin: 0 10px;
	outline: none;
	position: relative;
	transition: transform 0.3s ease;
	width: 50px;
	
	&:hover {
		transform: scale(1.2);
	}
}

.player_prev {
	@extend .player_next;
	transform: rotate(180deg);
	
	&:hover {
		transform: rotate(180deg) scale(1.2);
	}
}

.player_next {
	@extend %button;
	
	&:before {
		border-bottom: 8px solid transparent;
		border-left: 12px solid $spectrum-color-player-default;
		border-top: 8px solid transparent;
		content: '';
		left: 35%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: border-left-color 0.3s ease;
	}
	
	&:after {
		border-right: 3px solid $spectrum-color-player-default;
		content: '';
		height: 16px;
		left: 60%;
		margin: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: border-color 0.3s ease;
	}
	
	&:hover:before {
		border-left-color: $spectrum-color-player-highlight;
	}
	
	&:hover:after {
		border-right-color: $spectrum-color-player-highlight;
	}
}

.player_play-pause-button {
	@extend %button;
	
	&.-play {
		&:after {
			border-bottom: 12px solid transparent;
			border-left: 18px solid $spectrum-color-player-default;
			border-top: 12px solid transparent;
			content: '';
			left: 38%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: border-left-color 0.3s ease;
			
		}
		
		&:hover:after {
			border-left-color: $spectrum-color-player-highlight;
		}
	}
	
	&.-pause {
		&:after {
			border-left: 4px solid $spectrum-color-player-default;
			border-right: 4px solid $spectrum-color-player-default;
			content: '';
			height: 18px;
			transition: border-color 0.3s ease;
			width: 8px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
		&:hover:after {
			border-color: $spectrum-color-player-highlight;
		}
	}
}

.player_song-title {
	color: $spectrum-color-player-default;
	font: 20px $font-main;
	text-align: center;
}

.player_song-link {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s ease;
	
	&:hover {
		color: $spectrum-color-player-highlight;
	}
}
