$font-main: 'Raleway', sans-serif;

$color-square: #837e8f;
$color-experiment: #acaab2;
$color-highlight: #fff;

$paint-color-background: #837e8f;
$paint-color-hover: #cecece;
$paint-color-content: #fff;
