doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link(rel="stylesheet" href="assets/styles/main.css")
		
		title Experiments
	body
		ul.menu
			li.menu_item.-active
				a.menu_link.js-link(href="#walkers")
					span.menu_experiment Walkers
					span.menu_square
			li.menu_item
				a.menu_link.js-link(href="#bubbles")
					span.menu_experiment Bubbles
					span.menu_square
			li.menu_item
				a.menu_link.js-link(href="#paint")
					span.menu_experiment.-dark Paint
					span.menu_square.-dark
			
		script(src="assets/scripts/main.js")
