.tools {
	background-color: $paint-color-background;
	height: 50px;
	left: 0;
	position: fixed;
	top: 0;
	transition: height 0.3s ease;
	width: 100%;
	z-index: 999;
	
	&.-active {
		@include media('<medium') {
			height: 100%;
			overflow: auto;
		}
	}
	
	@include media('<medium') {
		height: 80px;
		padding: 20px;
	}
}

.tools_menu {
	background: none;
	border: none;
	display: none;
	font-size: 0;
	height: 35px;
	outline: none;
	position: absolute;
	right: 20px;
	top: 20px;
	transition: transform 0.3s ease;
	width: 35px;
	
	&:before {
		background-color: $paint-color-content;
		box-shadow: 0 -12px 0 0 $paint-color-content, 0 12px 0 0 $paint-color-content;
		content: '';
		display: block;
		height: 5px;
		width: 100%;
	}
	
	&.-active {
		transform: rotate(45deg);
		
		&:before {
			box-shadow: none;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		
		&:after {
			background-color: $paint-color-content;
			content: '';
			display: block;
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			transform: translateX(-50%);
			width: 5px;
		}
	}
	
	@include media('<medium') {
		display: block;
	}
}

.tools_wrapper {
	@include media('<medium') {
		display: none;
	}
	
	&.-active {
		display: block;
	}
}

.tools_section {
	display: inline-block;
	line-height: 50px;
	margin: 0 1.5%;
	vertical-align: top;
	
	&:not(:first-child) {
		@include media('<medium') {
			margin: 15px 0 0;
		}
	}
	
	@include media('<medium') {
		display: block;
		text-align: center;
	}
}

.tools_button {
	background-color: $paint-color-content;
	border: none;
	border-radius: 3px;
	color: $paint-color-background;
	cursor: pointer;
	font: 18px/30px $font-main;
	outline: none;
	padding: 0 10px;
	transition: background-color 0.3s ease, box-shadow 0.6s ease, color 0.3s ease;
	
	&:not(:last-child) {
		margin-right: 5px;
	}
	
	&:hover {
		background-color: $paint-color-hover;
	}
	
	&.-active-tool {
		background-color: $paint-color-background;
		box-shadow: 0 0 0 2px $paint-color-content inset;
		color: $paint-color-content;
	}
}

.tools_title {
	color: $paint-color-content;
	display: inline-block;
	font: 18px $font-main;
	margin-right: 10px;
	
	@include media('<medium') {
		display: block;
	}
}

%tools_shape {
	background-color: $paint-color-content;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 30px;
	outline: none;
	position: relative;
	transition: background-color 0.3s ease, box-shadow 0.6s ease;
	vertical-align: super;
	width: 30px;
	
	&:not(:last-child) {
		margin-right: 5px;
	}
	
	&:before {
		background-color: $paint-color-background;
		content: '';
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: background-color 0.3s ease;
	}
	
	&:hover {
		background-color: $paint-color-hover;
	}
	
	&.-active-tool {
		background-color: $paint-color-background;
		box-shadow: 0 0 0 2px $paint-color-content inset;
		
		&:before {
			background-color: $paint-color-content;
		}
	}
}

.tools_line {
	@extend %tools_shape;
	
	&:before {
		height: 3px;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 20px;
	}
}

.tools_circle {
	@extend %tools_shape;
	
	&:before {
		border-radius: 50%;
		height: 15px;
		width: 15px;
	}
}
.tools_rect {
	@extend %tools_shape;
	
	&:before {
		height: 15px;
		width: 15px;
	}
}
.tools_triangle {
	@extend %tools_shape;
	
	&:before {
		background-color: transparent;
		border-color: transparent transparent $paint-color-background transparent;
		border-style: solid;
		border-width: 0 7.5px 13.0px 7.5px;
		height: 0;
		transition: border-color 0.3s ease;
		width: 0;
	}
	
	&.-active-tool {
		background-color: $paint-color-background;
		
		&:before {
			background-color: transparent;
			border-color: transparent transparent $paint-color-content transparent;
		}
	}
}

.tools_color {
	border: none;
	border-radius: 3px;
	color: $paint-color-background;
	font: 15px $font-main;
	height: 30px;
	outline: none;
	text-align: center;
	width: 75px;
}

.tools_size {
	cursor: pointer;
	margin-right: 10px;
	outline: none;
	vertical-align: sub;
	width: 100px;
}

.tools_size-value {
	color: $paint-color-content;
	font: 18px $font-main;
}
